#intro_gradient_form{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: -100%;
    transition: top 1s ease-in-out,left 1s ease-in-out,right 1s ease-in-out,bottom 1s ease-in-out;
}

#form_intro{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap:50px;
}
#form_intro_group_user{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap:20px;

}
#input_form_intro {
    font-family: 'untitled_sansmedium';
    color: white;
    border: none;
    background-color: transparent;
    outline: none; 
    text-align: center; 
    width:600px;
   
  }
  
  #input_form_intro::placeholder {
    opacity: 0.5;
    color: white;
    text-align: center; 
  }
  

  #input_form_intro::-webkit-input-placeholder {
    opacity: 0.5;
    color: white;
    text-align: center; 
  }
  
  #input_form_intro::-moz-placeholder {
    opacity: 0.5;
    color: white;
    text-align: center; 
  }
  
  #input_form_intro:-ms-input-placeholder {
    opacity: 0.5;
    color: white;
    text-align: center; 
  }
  
  #input_form_intro:-moz-placeholder {
    opacity: 0.5;
    color: white;
    text-align: center; 
  }


  .shake-animation {
    animation: shake 0.5s ease-in-out;
  }
  
  @keyframes shake {
    0% { transform: translateX(0); }
    20% { transform: translateX(-10px); }
    40% { transform: translateX(10px); }
    60% { transform: translateX(-10px); }
    80% { transform: translateX(10px); }
    100% { transform: translateX(0); }
  }
  
  .error-placeholder::placeholder {
    /* color: red !important; */
    opacity:1 !important;
  }
  
  .overlay-flash {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0;
    pointer-events: none;
    z-index: 9999;
    transition: opacity 0.2s ease-in-out;
  }
  .overlay-flash.show {
    opacity: 1;
  }