
body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    height: 100vh;
    margin: 0;
    padding: 0 10px; /* Adds some space to the sides so the buttons don't stick to the window's edge. */
}

.object {
    position: absolute;
    bottom: 0;
}

#leftArm {
    background: red;
    height: 100px;
    width: 50px;
    left: 300px;
}
#btnLaunch {
    position: absolute;
    top: 20px; /* Cambia este valor según necesites */
    left: 50%;
    transform: translateX(-50%); /* Esto centrará el botón horizontalmente */
}
#basketBall {
    background: orange;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    left: 350px;
    top: calc(100% - 125px); /* Esto sitúa la pelota en la parte inferior de la pantalla, teniendo en cuenta su propia altura */
}
#rightHand {
    background: blue;
    height: 100px;
    width: 50px;
    left: 400px;
}