<krpano>

<!--GENERAL ACTIONS POPUP 	 -->
	<action name="s_popup_before_open">
		//trace('default open');
		tween(global.plugin[s_pp_blur].range, 40.0);
	    tween(layer[root].alpha,0,0.3);		
	</action>

	<action name="s_popup_middle_action">
		//trace('default middle');
	    addlayer('s_down_main', s_down_main);
	    s_down_main.loadstyle('s_down_main');			
	</action>

	<action name="s_popup_after_close">
		//trace('default close');
		tween(global.plugin[s_pp_blur].range, 0.0);
		tween(layer[root].alpha,1,1);
	</action>

<!-- GENERAL STYLES POPUP -->
	<!-- estils del placeholder spinner etc... a styles.css general cridat des de index.htm -->

<style name="s_popup_bg"
		    type="container"
		    align="lefttop" 
		    width="100%" 
		    height="100%"
		    zorder="99"
		    handcursor="false"
		    bgcapture="true"
		    capture="true"
		    enabled="true"
		    onloaded="tween(bgalpha,0.65,1.0);" 
	        bgcolor="0x090016"
/>


						  
				<style name="s_popup_main"
						    type="container"
						    parent="s_popup_bg"
						    align="center"
						    bgalpha="1"
						    bgcapture="true"
						    maskchildren="false"
						    capture="true"
						    handcursor="false"
						    alpha="0"
							bgcolor="0x400198"
							bgroundedge=""
							bgborder="12 0x400198 1"
						
				/>
				
				<!-- OPTIONAL (tu punto) -->
				<style name="s_down_main"
					 		type="container"
						    parent="s_popup_main"
						    align="bottom"
						    bgalpha="1"
						    width="80%"
						    height="6"
						    y="-18"
						    bgcapture="true"
						    maskchildren="false"
						    capture="true"
						    handcursor="false"
						    alpha="1"
							bgcolor="0x41ffc7"

				/>
				
				<style name="s_popup_close_x"
							type="image"
					        url="%FIRSTXML%/skin/img/closex.png"
					        crop="0|0|54|54"
                            onovercrop="54|0|54|54"
                            onoutcrop="0|0|54|54"
						    parent="s_popup_main"
						    align="righttop"
						    edge="lefttop"
						    x="-12px"
						    y="-12px"
						    scale="1"
						    zorder="99"
						    alpha="1"					    
						    onloaded.addevent="scope(private:SPOPUPCORE,delayedcall(0.3,tween(global.layer[s_popup_main].alpha, 1)));"
						   
				/>

<!-- SYLE CRIDAT A INDEX:			 -->

<!-- 
/*/////////////////////////////////////*/
/*JAVASCRIPT INSIDE TOUR IN JS ACTIONS in core.xml*/
/*/////////////////////////////////////*/

/*////////////*/
/*S_IFRAME*/
/*////////////*/

/*
.s_popup_container
                  |
                  .container_placeholder_s_iframe
                  |                              |
                  |                              .spinner_s_iframe
                  |                                             |
                  |                                             .dot1_s_iframe
                  |                                             .dot2_s_iframe
                  |
                  .s_iframe
*/



/*DIV S_POPUP_CONTAINER*/

.s_popup_container{
width : 100%;
height : 100%;
box-sizing : border-box;
-moz-user-select: text;
-webkit-user-select:text;
-ms-user-select:text;
user-select:text;
}
 
/*PLACEHOLDER S_IFRAME*/
        .container_placeholder_s_iframe{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            align-content: center;
            flex-wrap: wrap;
            height: 100%;
        }
              .spinner_s_iframe {
                width: 40px;
                height: 40px;
                -webkit-animation: sk-rotate 2.0s infinite linear;
                animation: sk-rotate 2.0s infinite linear;
              }

                    .dot1_s_iframe, .dot2_s_iframe {
                      width: 60%;
                      height: 60%;
                      display: inline-block;
                      position: absolute;
                      top: 0;
                      background-color: #41ffc7;
                      border-radius: 100%;
                     
                      -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
                      animation: sk-bounce 2.0s infinite ease-in-out;
                    }

                    .dot2_s_iframe {
                      top: auto;
                      bottom: 0;
                      -webkit-animation-delay: -1.0s;
                      animation-delay: -1.0s;
                    }

        @-webkit-keyframes sk-rotate { 100% { -webkit-transform: rotate(360deg) }}
        @keyframes sk-rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

        @-webkit-keyframes sk-bounce {
          0%, 100% { -webkit-transform: scale(0.0) }
          50% { -webkit-transform: scale(1.0) }
        }

        @keyframes sk-bounce {
          0%, 100% { 
            transform: scale(0.0);
            -webkit-transform: scale(0.0);
          } 50% { 
            transform: scale(1.0);
            -webkit-transform: scale(1.0);
          }
        }
/*S_IFRAME*/
        .s_iframe{
          position:absolute;
          width:100%;
          height:100%;
          top:0px;
          opacity:0;
          transition:opacity 1s ease-out;
          left:0px;
        /*  border-radius: 40px;*/
        }

 -->



</krpano>