#gameEntrance {

    width: 100%;
    height: 100%;
    background-color: rgba(43, 56, 109, 0.6);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'bw_regular';
    text-transform: uppercase;
    letter-spacing: 2px;
    position: absolute;
    top: 0;
    text-align: center;
    opacity:1;
    transition:opacity 0.3s;
    cursor:pointer;
    line-height: 2;
}

#gameEntrance>p,
#gameEntrance>h1 {
    padding: 11px;
    margin: 0;
}
#gameEntrance>:last-child{
    font-size: 12px;
}
#gameEntrance>:last-child>span{
    font-size: 16px;
    /* margin-bottom: 13px; */
    padding-bottom: 10px;
    display: inline-block;
    text-decoration: underline;
}

#wrapper {
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Centrar elementos verticalmente */
    flex-direction: column;
    /* Alinear elementos como una columna */
    font-family: 'untitled_sansmedium';
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 2px;
    position: relative;
    /* necesario para que #blackboard se posicione en relación a este */
}

#centered-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#blackboard {
    background-color: #2c2c2c;
    width: 830px;
    height: 500px;
    background-image: url(assets/pissarra.jpg);
    background-size: cover;
    position: relative;

}

#blackboardElementsWrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    /* background-color: turquoise; */
}


.blackboardElement {
    position: absolute;
    padding: 10px 20px;
    border-radius: 40px;
    opacity: 1;
    cursor: pointer;
    pointer-events: auto;
}


/* Estilos específicos para cada elemento .blackboardElement */
/* alegria */
#alegria {
    background-color: #ffcb67;
    top: 60px;
    left: 113px;
    color: #fb0192;
    padding: 6px 22px;
    border-radius: 20px;
    text-transform: uppercase;
}

/* confianza */
#confianza {
    background-color: #dee270;
    top: 255px;
    left: 449px;
    color: #757820;
    padding: 6px 22px;
    border-radius: 20px;
    text-transform: uppercase;

}

/* miedo */
#miedo {
    background-color: #9ace7d;
    top: 149px;
    left: 215px;
    color: #43682e;
    padding: 6px 22px;
    border-radius: 20px;
    text-transform: uppercase;

}

/* sorpresa */
#sorpresa {
    background-color: #73c4b5;
    top: 373px;
    left: 309px;
    color: #397db0;
    padding: 6px 22px;
    border-radius: 20px;
    text-transform: uppercase;

}

/* tristeza */
#tristeza {
    background-color: #66afe6;
    top: 333px;
    left: 133px;
    color: #397db0;
    padding: 6px 22px;
    border-radius: 20px;
    text-transform: uppercase;

}

/* asco */
#asco {
    background-color: #7084d6;
    top: 326px;
    left: 563px;
    color: #2b386d;
    padding: 6px 22px;
    border-radius: 20px;
    text-transform: uppercase;

}

/* ira */
#ira {
    background-color: #b2749e;
    top: 51px;
    left: 560px;
    color: #691e51;
    padding: 6px 22px;
    border-radius: 20px;
    text-transform: uppercase;
}

/* anticipacion */
#anticipacion {
    background-color: #e68b68;
    top: 128px;
    left: 393px;
    color: #7a371d;
    padding: 6px 22px;
    border-radius: 20px;
    text-transform: uppercase;

}


#alegria:hover,
#confianza:hover,
#miedo:hover,
#sorpresa:hover,
#tristeza:hover,
#asco:hover,
#ira:hover,
#anticipacion:hover {
    color: #ffffff;
}

.inactive {
    background-color: #6d6d6d !important;
    color: #cacaca !important;
    opacity: 0.7 !important;
    pointer-events: none !important;
}

.chosen {
    /* border: green 2px solid ; */
    color: white !important;
    background-color: green !important;
    pointer-events: none;
}


#blackboardcorrect,
#blackboardIncorrect,
#win {
    width: 100%;
    background-repeat: no-repeat;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 43px;
    display: none;
}
#blackboardcorrect.loading,
#blackboardIncorrect.loading,
#win.loading{
    display: flex;
    opacity: 0.02;
}
#blackboardcorrect>span,
#blackboardIncorrect>span,
#win>span {
    font-size: 16px;
    font-family: 'bw_regular';
    padding-top: 21px;
    text-transform: initial;

}

#blackboardIncorrect {
    background-image: url(assets/error.png);
        cursor:pointer;
}

#blackboardcorrect {
    background-image: url(assets/correct.png);
        cursor:pointer;
}

#win {
    background-image: url(assets/win.png);
    justify-content: flex-start;
    padding-top: 6px;

}

#win>span {
    padding-top: 2px;
}

#win #winTitle {
    font-family: 'bw_black';
    text-transform: uppercase;
    font-size: 34px;
    padding-top: 23px;
}

#emotionsWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 800px;
    opacity: 1;
    transition: opacity 0.3s;
}

.emotion {
    background-color: #f0f0f0;
    color: #f0f0f0;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 44px;
    pointer-events: none;
    transition: background-color 0.3s;
}


.optimismo {
    background-color: #f9ea66;
    color: white;
}

.amor {
    background-color: #c0dd77;
    color: white;
}

.sumision {
    background-color: #78c085;
    color: white;
}

.alarma {
    background-color: #9bdaf1;
    color: white;
}

.decepcion {
    background-color: #5f96e3;
    color: white;
}

.remordimiento {
    background-color: #8b72c8;
    color: white;
}

.desprecio {
    background-color: #d97673;
    color: white;
}

.agresividad {
    background-color: #eda266;
    color: white;
}

.blackboardElement {
    box-sizing: border-box;
    border: 2px solid transparent;  /* Afegeix un borde transparent per defecte */
  }
  
  .blackboardElement.highlight {
    border-color: black;  /* Canvia només el color del borde quan es destaca */
  }