body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 1200px;
    height:100%;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    column-gap: 20px; /* Espacio entre columnas */
    overflow-y: auto;
    height: 80vh; /* Ajusta la altura según lo desees */
}

.container img {
    width: 100%; 
    break-inside: avoid; /* Evita que las imágenes se corten entre columnas */
}

/* Una columna por defecto */
.container {
    column-count: 2;
}


/* @media (min-width: 768px) {
    .container {
        column-count: 2;
    }
} */

/* @media (min-height: 800px) {
    .container {
        column-count: 3;
    }
} */
