#videoPlayerCanvasWrapper {
  position: absolute;
  z-index: 1000;
  width: 100%;
  display: none;
  height: 100%;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  pointer-events: none;
}

#videoPlayerCanvas {
  position: absolute;
  pointer-events: auto;
  background-color: black;
  width: 312px;
  height: 600px;
  display: block;
  opacity: 1;
  transform: translateX(0%);
}
.tourvideo{
  pointer-events:all !important;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px); 
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(209, 209, 209, 0.1));
}
.panovideo{
  pointer-events:all !important;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(4px); 
  background-image: none !important;
}

#videoPlayerWrapper {
  overflow: hidden;
  pointer-events: none;
  /* cursor: pointer; */
  position: relative;
  width: 100%;
  height: 100%;
  filter: drop-shadow(10px 20px 20px rgba(0,0,0,0.6))
}




#youtubePlayer {
  position: absolute;
  /* width: 600px; */
  width: 948px;
  border-radius: 10px;
  /* transform: translateX(-24%); */
  transform: translateX(-33.5%);


}

.videoBorderInitial {
  border-radius: 10px;
}

#videoControlsWrapper {
  position: relative;
  background-color: rgba(0, 0, 0, 0.0);
  bottom: 100%;
  left: 0px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: background-color 0.5s ease-in-out;
}

#playPause {
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 1;
}

#replay {
  /* background-color: royalblue; */
  width: 60px;
  height: 60px;
  cursor: pointer;
  opacity: 0;
  display: none;
}

.svgReplay {
  width: 100%;
  height: 100%;
  /* background-color: royalblue; */
}

.svgReplayBg {
  fill: rgb(173, 173, 173);
}

.svgReplayPath {
  fill: rgb(248, 243, 237);
}


#skipVideoButton {
  position: absolute;
  bottom: -70px;
  left: 50%;
  transform: translateX(-50%);
}