
#homeInterface{
    position: absolute;
    z-index: 20;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    pointer-events: none;
    display:none;
    opacity:0;
    transition: opacity 0.3s linear;
}



#homeTitle{
    position: absolute;

    top: var(--margin);
    left: var(--margin);
    font-family: 'bw_black';
    font-size: 18px;
    color: #FFFFFF;
    
}



#homeUser {
    position: absolute;

    top: var(--margin);
    right: var(--margin);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    font-family: 'untitled_sansmedium';
    font-size: 14px;

}
#userImageHome{
    width:57px;
    height:58px;
}

#homeHelp{
    position: absolute;

    bottom: var(--margin);
    right: var(--margin);
    width:40px;
    height:40px;
    border: 2px solid #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-family: 'untitled_sansmedium';
    font-size: 18px;
    pointer-events: auto;
}
#homeHelp:hover{
    background-color: #FFFFFF;
    color: #f5005d;
    cursor: pointer;
}

#homeCredits{
    position: absolute;

    bottom: var(--margin);
    left: var(--margin);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-family: 'untitled_sansmedium';
    font-size: 14px;
    letter-spacing: 0.1rem;
    text-decoration: none;      
    border-bottom: 2px 0 solid; 
    padding-bottom: 5px;      
    margin-bottom: -5px; 
    box-sizing:content-box;
    pointer-events: auto;
}

#homeCredits:hover{
    border-bottom: 2px  solid; 
    margin-bottom: -7px; 
}
