#intro_gradient {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    clip-path: circle(0% at 50% 50%);
    transition: clip-path 1.5s ease-in-out;
    z-index: 2;
}

#intro_gradient_first {
    justify-content: center;
    transition: top 1s ease-in-out;
}

#first_little_planet_super_wraper {
    height: 100%;
    width: 512px;
}

#first_little_planet_wraper {
    background-image: url(../../assets/img/shine_lp_intro.png);
    background-repeat: no-repeat;
    background-position: center;
    /* background-size: cover; */
    background-blend-mode: overlay;
    width: 512px;
    height: 100%;
    transform-origin: center;
    display: flex;
    /* transform: translateX(130px); */
    animation: upDownAnimation 4s infinite ease-in-out;

}

@keyframes upDownAnimation {
    0% {
        transform: translateY(-10px);
    }

    50% {
        transform: translateY(-30px);
    }

    100% {
        transform: translateY(-10px);
    }
}


#first_little_planet {
    position: relative;
    width: 360px;
    height: 360px;
    background: url(../../assets/img/lp_intro.png) no-repeat center center;
    background-size: cover;
    margin: auto;
    display: block;
    top: 10px;
    right: -15px;
}

#shadow_lp_intro {
    position: relative;
    bottom: 10%;
    left: 50%;
    background: url(../../assets/img/shadow_lp_intro.png) no-repeat center center;
    background-size: 100% 100%;
    width: 160px;
    height: 50px;
    transform: translateX(-50%);
}

#firts_text_intro {
    /* width:512px; */
    width: 0;
    opacity: 0;
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    font-family: 'bw_regular';
    font-size: 1em;
    line-height: 1.5em;
    transition: width 1s ease-in-out, opacity 0.5s ease-in-out;
}

#firts_text_intro>p {
    display: inline-block;
    width: 360px;
}

#firts_text_intro>p>span {
    font-family: 'bw_black';
}