html {
    height: 100%;
    user-select: none;
    --margin:40px;
    --thumb_color: rgba(255, 255, 255, 0.5);

}

body {
    /* zoom:75%; */
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-family: 'untitled_sansregular', Arial, Helvetica, sans-serif;
    /* font-size: 0.8rem; */
    color: #FFFFFF;
    background-color: #000000;
}

#startcontainer {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 1;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    transition: opacity 600ms linear;
}


.rainbow_gradient {
    background-image:
        url(../assets/img/noise.jpg),
        linear-gradient(295deg,
            hsl(240deg 100% 20%) 0%,
            hsl(289deg 100% 21%) 11%,
            hsl(315deg 100% 27%) 22%,
            hsl(329deg 100% 36%) 33%,
            hsl(337deg 100% 43%) 44%,
            hsl(357deg 91% 59%) 56%,
            hsl(17deg 100% 59%) 67%,
            hsl(34deg 100% 53%) 78%,
            hsl(45deg 100% 50%) 89%,
            hsl(55deg 100% 50%) 100%);
    background-repeat: repeat;
    background-blend-mode: overlay;
}

.fullscreen {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    font-family: 'untitled_sansmedium';
    background-color: transparent;
    text-transform: uppercase;
    color: white;
    border: 2px solid white;
    height: 40px;
    width: 130px;
    text-align: center;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    cursor: pointer;
}

.button:hover {
    opacity: 1;
    background-color: #ffffff;
    color: #f5005d;
    /* color: #d304c1; */

}


